<!DOCTYPE html>
<html ng-app="heroSearch">
  <head>
    <meta charset="utf-8">
    <title>Hero Search</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css"></link>

    </script>
  </head>
  <body ng-controller="mainCtrl">

    <div class="header">
      <div class="container">
        <div class="col-md-6">
          <h1>Marvel <span>Character Search</span></h1>
        </div>
        <div class="col-md-6">
          <input ng-model="character" placeholder="Search By Name"></input>
          <button ng-click="getCharacterData(character)">Search</button>
        </div>
      </div>
    </div>

    <div class="profile">
      <div class="container" ng-repeat="character in characterData">
        <!-- Thumbnail -->
        <div id="thumbnail" class="col-xs-6"><img src="{{character.thumbnail}}" alt="" /></div>
        <!-- Name -->
        <div id="name" class="col-xs-6"><h2>{{character.name}}</h2></div>
        <!-- Description -->
        <div id="descrip" class="col-xs-6">{{character.description}}</div>
          <!-- comic book names -->
          <!-- <div>
            <div id="comic" ng-repeat="comic in character.series" class="col-xs-3">{{comic.name}}</div>
          </div> -->
      </div>
    </div>
    <!-- comic book names -->
    <div class="comic-data">
      <div class="container">
        <div id="comic" ng-repeat="comic in character.series" class="col-xs-3">{{comic.name}}</div>
      </div>
    </div>



      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
      <script src="
      https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/serviceHttp.js"></script>
  </body>
</html>
