body {

}
.header {
background-color: #F0141E;
text-align: center;
padding-bottom: 10px;
}

h1{
  color: #fff;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 15px;
}

span {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

form {
  text-align: center;
}

input button{
  display: inline-block;
}

input {
margin-top: 25px;

border-radius: 5px;
border-style: none;
padding: 4px;

}

.profile {
  padding-top: 10px;
  padding-bottom: 10px;


  /*box-shadow: 6px 6px 5px #888888;*/
}
#descrip {
  padding-bottom: 10px;
}

#card {
  background-color: white;
  box-shadow: 6px 6px 5px #888888;
  padding: 10px;
}

#thumbnail {
width: 246px;
height: 324px;
}

div #comic {
  border: 1px solid black;
  width: 320px;
  height: 240px;
  overflow: scroll;
  background-color: #F1F1F1;
}
#comic-list {
  padding: 5px;
  border-bottom: 1px solid black;
}
.card-container {
  padding: 20px;
  background-color: #F1F1F1;
}
